@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
}
<div class="uk-grid" data-uk-grid>
    <div class="uk-width-3-4@l uk-width-3-5@m">

        <div class="uk-grid uk-grid-medium uk-child-width-1-2@l uk-child-width-2-2@m uk-child-width-1-1@s" uk-grid="masonry: true">



            <section class="b-post b-post-full b-post-cover  clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="16_post.html"><img class="img-fluid" src="assets/img/post3-1-1170x558.jpeg" alt="Foto"></a>
                    <div class="entry-meta">
                        <h1 class="entry-title"> <a href="16_post.html">My secret powers will only cost you twenty dollars.</a></h1>

                        <span class="entry-meta__item">January 11, 2022</span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>

            </section>


            <section class="b-post b-post-full clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post6-1170x558.jpg" alt="Foto"></a>
                    <div class="entry-meta">
                        <span class="entry-meta__item">
                            <a class="entry-meta__link" href="blog-main.html">
                                <img class="fl-post-avatar" width="100" height="100" alt="Profile Photo" src="assets/img/user-1.png">
                            </a>
                        </span>
                        <span class="entry-meta__item">January 21, 2022</span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
                <div class="entry-main">
                    <div class="entry-content">
                        <h1 class="entry-title"><a href="16_post.html">My secret powers will only cost you twenty dollars.</a></h1>
                        <p>We've got so many forum themes to choose from. our best selling theme this year is gamer. gamer is perfect for a gaming forum and we guarantee that it will get your community interacting on the forum. gamer has been tested with the latest wordpress version and it's fully responsive so your forum will look great on any device. gamer is only $68 for a limited time so grab it now and make your forum stand out from the crowd. <a class="more_post" href="16_post.html"><i class="ico_more"></i></a> </p>
                    </div>

                </div>
            </section>



            <section class="b-post b-post-full clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post5-1170x558.jpeg" alt="Foto"></a>
                    <div class="entry-meta">
                        <span class="entry-meta__item">
                            <a class="entry-meta__link" href="blog-main.html">
                                <img class="fl-post-avatar" width="100" height="100" alt="Profile Photo" src="assets/img/user-2.png">
                            </a>
                        </span>
                        <span class="entry-meta__item">February 21, 2022</span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
                <div class="entry-main">
                    <div class="entry-content">
                        <h1 class="entry-title"><a href="16_post.html">You're not really a gamer until you've played our game.</a></h1>
                        <p>The name is Gamer and it's a forum, yes, but we want to make it different than the average forum theme. It's so much more than that. A gamer can be anyone - the sports fanatic, the star stargazer, outdoorsman, the city dweller and everything in between.
                            It's about pushing fans to their limits and letting them connect with others who share their same passions. And we want to get people talking.<a class="more_post" href="16_post.html"><i class="ico_more"></i></a> </p>
                    </div>

                </div>
            </section>



            <section class="b-post b-post-full clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post2-1-1170x558.jpeg" alt="Foto"></a>
                    <div class="entry-meta">
                        <span class="entry-meta__item">
                            <a class="entry-meta__link" href="blog-main.html">
                                <img class="fl-post-avatar" width="100" height="100" alt="Profile Photo" src="assets/img/user-3.png">
                            </a>
                        </span>
                        <span class="entry-meta__item"><i class="ic icon-calendar"></i><span class="entry-date__dt">25</span><span class="entry-date__mh">dec</span></span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
                <div class="entry-main">
                    <div class="entry-content">
                        <h1 class="entry-title"><a href="16_post.html">This is your one-stop shop for all things gaming.</a></h1>
                        <p>I really like your blog, but I think some of your posts are just a little bit out of track! I mean, I don't want to tell you how to do it, but maybe you could be a little bit more effective with the blog posts than just saying "Today, we have released a new product" or something like that. Just my view, it could bring your website a little bit more interesting.<a class="more_post" href="16_post.html"><i class="ico_more"></i></a> </p>
                    </div>

                </div>
            </section>


            <section class="b-post b-post-full clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post6-1170x558.jpg" alt="Foto"></a>
                    <div class="entry-meta">
                        <span class="entry-meta__item">
                            <a class="entry-meta__link" href="blog-main.html">
                                <img class="fl-post-avatar" width="100" height="100" alt="Profile Photo" src="assets/img/user-1.png">
                            </a>
                        </span>
                        <span class="entry-meta__item">January 21, 2022</span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
                <div class="entry-main">
                    <div class="entry-content">
                        <h1 class="entry-title"><a href="#16_post.html">My secret powers will only cost you twenty dollars.</a></h1>
                        <p>We've got so many forum themes to choose from. our best selling theme this year is gamer. gamer is perfect for a gaming forum and we guarantee that it will get your community interacting on the forum. gamer has been tested with the latest wordpress version and it's fully responsive so your forum will look great on any device. gamer is only $68 for a limited time so grab it now and make your forum stand out from the crowd. <a class="more_post" href="16_post.html"><i class="ico_more"></i></a> </p>
                    </div>

                </div>
            </section>



            <section class="b-post b-post-full clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post5-1170x558.jpeg" alt="Foto"></a>
                    <div class="entry-meta">
                        <span class="entry-meta__item">
                            <a class="entry-meta__link" href="blog-main.html">
                                <img class="fl-post-avatar" width="100" height="100" alt="Profile Photo" src="assets/img/user-2.png">
                            </a>
                        </span>
                        <span class="entry-meta__item">February 21, 2022</span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
                <div class="entry-main">
                    <div class="entry-content">
                        <h1 class="entry-title"><a href="16_post.html">You're not really a gamer until you've played our game.</a></h1>
                        <p>The name is Gamer and it's a forum, yes, but we want to make it different than the average forum theme. It's so much more than that. A gamer can be anyone - the sports fanatic, the star stargazer, outdoorsman, the city dweller and everything in between.
                            It's about pushing fans to their limits and letting them connect with others who share their same passions. And we want to get people talking.<a class="more_post" href="16_post.html"><i class="ico_more"></i></a> </p>
                    </div>

                </div>
            </section>



            <section class="b-post b-post-full clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post2-1-1170x558.jpeg" alt="Foto"></a>
                    <div class="entry-meta">
                        <span class="entry-meta__item">
                            <a class="entry-meta__link" href="blog-main.html">
                                <img class="fl-post-avatar" width="100" height="100" alt="Profile Photo" src="assets/img/user-3.png">
                            </a>
                        </span>
                        <span class="entry-meta__item"><i class="ic icon-calendar"></i><span class="entry-date__dt">25</span><span class="entry-date__mh">dec</span></span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="blog-main.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
                <div class="entry-main">
                    <div class="entry-content">
                        <h1 class="entry-title"><a href="16_post.html">This is your one-stop shop for all things gaming.</a></h1>
                        <p>I really like your blog, but I think some of your posts are just a little bit out of track! I mean, I don't want to tell you how to do it, but maybe you could be a little bit more effective with the blog posts than just saying "Today, we have released a new product" or something like that. Just my view, it could bring your website a little bit more interesting.<a class="more_post" href="16_post.html"><i class="ico_more"></i></a> </p>
                    </div>

                </div>
            </section>


            <section class="b-post b-post-full b-post-cover  clearfix">
                <div class="entry-media">
                    <span class="decore-lt"></span>
                    <span class="decore-rt"></span>
                    <span class="decore-rb"></span>
                    <a href="#"><img class="img-fluid" src="assets/img/post1-1-1170x558.jpeg" alt="Foto"></a>
                    <div class="entry-meta">
                        <h1 class="entry-title">My secret powers will only cost you twenty dollars.</h1>

                        <span class="entry-meta__item">January 11, 2022</span>

                        <span class="entry-meta__item"><a class="entry-meta__link" href="16_post.html"><i class="ic icon-speech"></i>53</a></span>

                    </div>

                </div>
            </section>

        </div>


    </div>

    <div class="uk-width-1-4@l uk-width-2-5@m">

        <aside class="l-sidebar">
            <div class="widget widget-search section-sidebar bg-light">
                <div class="widget-title bg-dark">search</div>
                <div class="widget-inner">
                    <form class="form-sidebar" id="search-global-form">
                        <input class="form-sidebar__input form-control" type="search" placeholder="keyword">
                        <button class="form-sidebar__btn"><i class="ic icon-magnifier"></i></button>
                    </form>
                </div>
            </div>
            <!-- end .widget-->
            <section class="widget section-sidebar bg-light">
                <h3 class="widget-title bg-dark">categories</h3>
                <div class="widget-content">
                    <div class="widget-inner">
                        <ul class="widget-list list list-mark-4">

                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html"> Fighting games</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html"> Beat 'em up games</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html"> Stealth game</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Action-adventure</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html"> Survival horror</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html">Text adventures</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html"> Graphic adventures</a></li>
                            <li class="widget-list__item"><a class="widget-list__link" href="blog-post.html"> Interactive movie</a></li>


                        </ul>
                    </div>
                </div>
            </section>
            <!-- end .widget-->
            <section class="widget section-sidebar bg-light">
                <h3 class="widget-title bg-dark">recent posts</h3>
                <div class="widget-content">
                    <div class="widget-inner">

                        <section class="post-widget clearfix">
                            <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid" src="assets/img/media01.jpg" alt="foto"></a></div>
                            <div class="post-widget__inner">
                                <h2 class="post-widget__title"><a href="blog-post.html">You're not really a gamer until you've played our game.</a></h2>
                                <div class="post-widget__date">
                                    <time datetime="2020-10-27 15:20">Dec 15, 2020</time>
                                </div>
                            </div>
                        </section>

                        <section class="post-widget clearfix">
                            <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid" src="assets/img/media01.jpg" alt="foto"></a></div>
                            <div class="post-widget__inner">
                                <h2 class="post-widget__title"><a href="blog-post.html">This is your one-stop shop for all things gaming.</a></h2>
                                <div class="post-widget__date">
                                    <time datetime="2019-10-27 15:20">Feb 15, 2021</time>
                                </div>
                            </div>
                        </section>

                        <section class="post-widget clearfix">
                            <div class="post-widget__media"><a href="blog-post.html"><img class="img-fluid" src="assets/img/media01.jpg" alt="foto"></a></div>
                            <div class="post-widget__inner">
                                <h2 class="post-widget__title"><a href="blog-post.html">You're not really a gamer until you've played our game.</a></h2>
                                <div class="post-widget__date">
                                    <time datetime="2019-10-27 15:20">Jan 15, 2022</time>
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </section>
            <!-- end .widget-->

            <!-- end .b-brands-->
            <section class="widget section-sidebar bg-light">
                <h3 class="widget-title bg-dark">tags cloud</h3>
                <div class="widget-content">
                    <div class="widget-inner">
                        <ul class="list-tags list-unstyled">
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Article</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Keyword</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Domain</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Backlink</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Compressor</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Video</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Facebook</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Gaming</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">Word</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">PDF</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">RGB</a></li>
                            <li class="list-tags__item"><a class="list-tags__link" href="blog-post.html">GIF Converter</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- end .widget-->
        </aside>
    </div>

</div>